# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
ENV/

# Database / Local cache / Logs
*.db
cache/
logs/

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
interview_prep_guide.pdf
